{% extends "base.html" %}

{% block title %}Weight Loss Tracker | Meat Meals{% endblock %}

{% block content %}

<div class="container">
    
    <div class="card mt-4 mb-4">
        <h2 class="fw-bold mt-4 mb-2 text-center">Weight Loss Tracker</h2>
        <p class="text-muted">Monitor your weight loss progress to help yourself stay on track!</p>
    </div>
    
    <div class="card mt-4 mb-4">
        <div class="card-body text-center">
            Coming soon . . .
        </div>
    </div>
</div>
        

{% endblock %}